@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020005;
  font-family: 'Rajdhani', sans-serif;
  touch-action: none;
}

.font-cyber {
  font-family: 'Orbitron', sans-serif;
}

/* Custom scrollbar for HUD if needed */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
