@import "tailwindcss";

@theme {
  --font-cyber: 'Orbitron', sans-serif;
  --font-rajdhani: 'Rajdhani', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020005;
  font-family: var(--font-rajdhani);
  touch-action: none;
}

.font-cyber {
  font-family: var(--font-cyber);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
